@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

:root {
  --dark-bg-color: #1f2937;
  --quote-bg-color: #e5e7eb;
  --highlight-bg-color: #3882f6;
}

body {
  font-family: "Roboto";
}

.dark-bg {
  background-color: var(--dark-bg-color);
}

.head-content {
  display: flex;
  padding: 3vw;
  padding-inline: calc(100vw / 160);
  justify-content: space-between;
  flex-direction: column-reverse;
  align-items: center;
}

#head-img {
  /* width: 80vw; */
  width: 90%;
  height: 100%;
  flex: 1 1 auto;
  /* margin-left: 4rem; */
  border-radius: 1vw;
}

img {
  width: 10rem;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-inline: 5vw;
}
.top-txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5vw 5vw;
  align-items: center;
}
.top-txt h1 {
  font-size: 10vw;
  color: #f9faf8;
  margin: 0;
  margin-top: 1rem;
  font-weight: 900;
  /* flex: 1 1 auto; */
}

.top-txt p {
  font-size: 5vw;
  color: #e5e7eb;
  margin: 0;
  margin: 0.5rem 0;
  font-weight: 300;
}

.top-txt button {
  background-color: var(--highlight-bg-color);
  padding-inline: 2rem;
  padding-block: 0.5rem;
  margin-right: auto;
  margin-top: 0.5rem;
  border-radius: 0.75rem;
  color: #e5e7eb;
  font-weight: 900;
  font-size: 1.25rem;
  border: 0;
  flex: 0 0 auto;
}

nav h3 {
  /* margin-left: 1rem; */
  font-size: 7vw;
  font-weight: 900;
  color: #f9faf8;
}

.nav-links ul {
  /* list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 5vw;
  color: #e5e7eb;
  font-weight: 300; */
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  list-style: none;
}

/* li {
  margin-inline: 1rem;
} */

/* li:nth-last-child(1) {
  margin-right: 0;
} */

.nav-links li a {
  color: #e5e7eb;
  text-decoration: none;
  display: block;
  padding-inline: 0.5rem;
  padding-block: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 5vw;
}

.toggle-button {
  position: absolute;
  top: 8vw;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 2rem;
  height: 1.5rem;
}

.toggle-button .bar {
  height: 0.25rem;
  width: 100%;
  background-color: red;
  border-radius: 0.5rem;
}

h2 {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 900;
  color: #1f2937;
}
.mid-content {
  padding-inline: 5vw;
}
.gallery {
  display: flex;
  justify-content: space-between;
}

.gallery p {
  font-size: 5vw;
  /* color: #e5e7eb; */
  margin: 0;
  margin: 0.5rem 0;
  font-weight: 300;
}

.gallery img {
  aspect-ratio: 1/1;
  width: 15vw;
  border-radius: 0.25rem;
}

.img-w-desc {
  padding-inline: 11rem;
}

@media (max-width: 700px) {
  .toggle-button {
    display: flex;
  }
  .nav-links {
    display: none;
    margin: 0 auto;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-links ul {
    width: 100%;
    flex-direction: column;
  }
  .nav-links ul li {
    text-align: center;
  }
  .nav-links li a {
    padding: 0 auto;
  }
  .nav-links.active {
    display: flex;
  }
  .nav-links.active {
    display: flex;
    position: absolute;
    margin-top: 15vw;
    background-color: var(--dark-bg-color);
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .gallery {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .gallery img {
    width: 100%;
    margin: 0 auto;
  }
}
