@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

:root {
  --dark-bg-color: #1f2937;
  --quote-bg-color: #e5e7eb;
  --highlight-bg-color: #3882f6;
}

body {
  font-family: "Roboto";
}

.dark-bg {
  background-color: var(--dark-bg-color);
}

.plug {
  display: flex;
  justify-content: center;
}

.plug p {
  margin-top: 2px;
}
.plug a {
  color: #3882f6;
  text-decoration-line: none;
  margin-left: 0.25rem;
}
/*---------- Navbar 👇 ----------*/

.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-inline: 5vw;
}

.navbar h3 {
  font-size: 7vw;
  font-weight: 900;
  color: #f9faf8;
  margin-block: 0rem;
}

.nav-links {
  display: none;
  margin: 0 auto;
}

.nav-links ul {
  width: 100%;
  flex-direction: column;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  list-style: none;
  text-align: center;
}

.nav-links li a {
  color: #e5e7eb;
  text-decoration: none;
  display: block;
  padding: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 5vw;
  padding-block: 5vw;
}

.nav-links.active {
  display: flex;
}

.toggle-button {
  position: absolute;
  top: 8vw;
  right: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 2rem;
  height: 1.5rem;
}

.toggle-button .bar {
  height: 0.2rem;
  width: 100%;
  background-color: #f9f9f9;
  border-radius: 0.5rem;
}

/*---------- Head Content 👇 ----------*/

.head-content {
  display: flex;
  padding: 3vw;
  padding-inline: calc(100vw / 160);
  justify-content: space-between;
  flex-direction: column-reverse;
  align-items: center;
}

#head-img {
  width: 90%;
  height: 100%;
  flex: 1 1 auto;
  border-radius: 1vw;
}

img {
  width: 10rem;
}

.top-txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5vw 5vw;
  align-items: center;
  padding-bottom: 4vw;
}

.top-txt h1 {
  font-size: 10vw;
  color: #f9faf8;
  margin: 0;
  margin-top: 1rem;
  font-weight: 900;
}

.top-txt p {
  font-size: 5vw;
  color: #e5e7eb;
  margin: 0;
  margin: 0.5rem 0;
  font-weight: 300;
}

.top-txt button {
  background-color: var(--highlight-bg-color);
  padding-inline: 2rem;
  /* padding-block: 0.5rem; */
  margin-right: 0;
  margin-top: 0.5rem;
  border-radius: 0.75rem;
  color: #e5e7eb;
  font-weight: 900;
  /* font-size: 2.5vw; */
  border: 0;
  flex: 0 0 auto;
  width: 100%;

  padding-block: 1vw;
  font-size: 5vw;
}

/*---------- Mid content 👇 ----------*/

.mid-content {
  padding-inline: 5vw;
  background-color: white;
  padding-block: 0.5vw;
  padding-bottom: 5vw;
}
.mid-content h2 {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 900;
  color: #1f2937;
  margin: 3vw 0;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gallery p {
  font-size: 5vw;
  margin: 0;
  margin: 0.5rem 0;
  color: #1f2937;
}

.gallery img {
  aspect-ratio: 1/1;
  border-radius: 0.25rem;
  width: 100%;
  margin: 0 auto;
}

.img-w-desc {
  padding-inline: 11rem;
}

/*---------- Quote section 👇 ----------*/

.quote {
  padding-inline: 5vw;
  background-color: var(--quote-bg-color);
  padding-block: 8vw;
}

.quote p {
  font-size: 5vw;
  font-style: italic;
  font-weight: 300;
  line-height: 1.3;
  color: #1f2937;
}
.quote h4 {
  font-size: 4vw;
  text-align: right;
}

/*---------- Highlight 👇 ----------*/

.highlight {
  background-color: var(--highlight-bg-color);
}
.highlight-wrap {
  padding-inline: 5vw;
}
.highlight h4 {
  margin: 0;
  text-align: center;
  font-size: 8vw;
  color: #f9faf8;
  padding-top: 5vw;
  font-weight: 900;
}

.highlight p {
  font-size: 5vw;
  color: #e5e7eb;
  margin: 0;
  margin: 0.5rem 0;
  font-weight: 300;
}

.highlight button {
  width: 100%;
  margin-block: 5vw;
  padding-block: 3vw;
  border-radius: 1rem;
  background-color: #f9f9f9;
  border: none;
  color: #1f2937;
  font-size: 4vw;
}

@media (min-width: 750px) {
  /*---------- Navbar 👇 ----------*/
  .navbar h3 {
    font-size: 5vw;
  }

  .toggle-button {
    display: none;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-inline: 5vw;
    flex-direction: row;
    align-items: center;
  }
  .nav-links {
    display: block;
    margin: 0;
  }
  .nav-links ul {
    width: auto;
    flex-direction: row;
  }

  .nav-links ul li {
    text-align: center;
  }

  .nav-links li a {
    padding-inline: 0.5rem;
    padding-block: 1rem;
    font-size: 3vw;
  }

  .nav-links.active {
    display: none;
  }
  #head-img {
    width: 40vw;
  }

  /*---------- Head Content 👇 ----------*/
  .head-content {
    padding-inline: 5vw;
    flex-direction: row;
    align-items: flex-start;
  }

  .top-txt h1 {
    font-size: 4vw;
    margin: 0;
    width: 100%;
  }

  .top-txt p {
    font-size: 2vw;
  }

  .top-txt {
    margin: 0;
    padding-right: 5vw;
  }

  .top-txt button {
    font-size: 2.5vw;
    padding-block: 0.5rem;
  }
  /*---------- Mid section 👇 ----------*/
  .gallery {
    flex-direction: row;
    justify-content: space-between;
  }
  .gallery img {
    width: 17.5vw;
  }
  .gallery p {
    font-size: 2vw;
    width: 20vw;
  }
  /*---------- Quote 👇 ----------*/
  .quote {
    padding-block: 3vw;
  }
  .quote h4 {
    font-size: 3vw;
  }
  .quote p {
    font-size: 2.5vw;
    padding-right: 20vw;
  }
  /*---------- Highlight 👇 ----------*/
  .highlight {
    width: 90vw;
    justify-content: center;
    margin-inline: auto;
    border-radius: 1rem;
    margin-block: 5vw;
  }
  .highlight-wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-block: 3vw;
  }
  .highlight h4 {
    padding-top: 0;
    text-align: left;
    font-size: 3vw;
  }
  .highlight p {
    font-size: 2vw;
  }

  .highlight button {
    width: 15vw;
    height: 4vw;
    margin-block: 0;
    padding-block: 0;
    border-radius: 0.5rem;
    font-size: 2vw;
    margin-inline: 3vw;
    background-color: white;
    color: #1f2937;
    /* border: 3px solid #1f2937; */
  }
  .ad-txt {
    width: 40vw;
  }
}
